{% extends "layout.html" %}

{% block title %}
    Index
{% endblock %}

{% block main %}
<link href="https://fonts.googleapis.com/css?family=Alata|Bangers|Public+Sans|Roboto|Sigmar+One&display=swap" rel="stylesheet">

    <div class="parallax">
        <div class="centered">
            <h1 style="font-family: 'Bangers', cursive; letter-spacing: 5px; color: white; text-shadow: 3px 2px #5EA2E2; font-size: 50px;">Time Journal</h1>
            <b style="color: white; letter-spacing: 0.5px">Time Management Tool and Everyday Journal</b>
        </div>
    </div>


{% endblock %}
